
  <!--========== SCROLL TOP ==========-->
  <a href="#" class="scrolltop show-scroll" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
  </a>


<!--========== HEADER ==========-->


<header class="l-header  " id="header">

  <nav class="nav bd-container navbar-expand-lg bg-body-tertiary ">
   
      <a href="#" class="nav__logo">Tasty</a>

      <div class="nav__menu" id="nav-menu">

        <ul class="nav__list ">
          <li class="nav__item"> <a class="nav__link active-link" [routerLink]="['/']"> Home</a> </li>
          <li class="nav__item"> <a class="nav__link" [routerLink]="['about']">About</a> </li>
          <li class="nav__item"> <a class="nav__link" [routerLink]="['services']">Services</a> </li>
          <li class="nav__item"> <a class="nav__link" [routerLink]="['menu']">Menu</a> </li>
          <li class="nav__item"> <a class="nav__link" [routerLink]="['contact-us']">Contact us</a> </li>

          <li> <i class='bx bx-moon change-theme' id="theme-button"></i></li>
        </ul>
      </div>

      <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-menu'></i>
      </div>
    
  </nav>
</header>
 




<router-outlet></router-outlet>




<pre></pre>

<app-app-tasty></app-app-tasty>
<app-footer></app-footer>