

<main class="l-main">
    <!--========== HOME ==========-->
    <section class="home text-center m-4" id="home">
        <div class=" home__container row">

            <div class="home__data col-6">
                <h1 class="home__title">Tasty food</h1>
                <h2 class="home__subtitle">Try the best food of <br> the week.</h2>
                <a href="#" class="button btn btn-success"> View Menu </a>
            </div>

            <div class="col-6">
            <img src="./assets/home.png " alt="" class="home__img">
            </div>
        </div>
    </section>
</main>

